<ion-header>
  <ion-toolbar>
    <ion-title>pokemones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

       <form [formGroup]="formulario" novalidate>
    <ion-searchbar animated="true" placeholder="nombre"
    formControlName="nombrePokemon">

    </ion-searchbar>
    {{formulario.get('nombrePokemon').value}}
    {{formulario.get('nombrePokemon').valid}}
    {{formulario.get('nombrePokemon').errors |json}}
  </form>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
  <ng-template #cargando>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
  <ng-template #losDatos>
    <app-info-pokemon *ngFor="let info of obtenerpokemon.info" [url]="info.url"></app-info-pokemon>
    <ion-infinite-scroll (ionInfinite)="cargandomascosas($event)">
      <ion-infinite-scroll-content [loadingSpinner]="'dots'" [loadingText]="'aguanta guacho'">

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
  <p *ngIf="obtenerpokemon.info; then losDatos else cargando"></p>
  <!-- Template Reference -->

</ion-content>
